<html version="g42dymwpi--nx">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=GBK">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<div id="header">
</div>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script type="text/javascript">
                alert("建议使用Chrome或Firefox浏览");
            </script>
        <![endif]-->
<style type="text/css">
body{
padding-top:30px;
padding-bottom:40px;
}
</style>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
