<htmlversion="g42dymwpi--nx">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=GBK">
<title>{{ title }}</title>
<link rel="stylesheet" href="../static/css/bootstrap.css">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script type="text/javascript">
                alert("建议使用Chrome或Firefox浏览");
            </script>
        <![endif]-->
<style type="text/css">
body{
padding-top:60px;
padding-bottom:40px;
}
</style>
</head>